
<ion-header>

  <ion-navbar>
    <ion-title>{{myQuote.category}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of myQuote.quotes; let i = index">

    <ion-card-header>
      <p text-center>• {{i+1}} </p>
    </ion-card-header>

    <ion-card-content>
    <p>{{quote.text}}</p>
      <p class="author_name">{{quote.person}}</p>
    </ion-card-content>
    <ion-row *ngIf="!isFavorate(quote)">
      <ion-col text-right>
        <button ion-button clear small (click)="onFavoriteClicked(quote)" >Favorite</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isFavorate(quote)">
      <ion-col text-right>
        <button ion-button clear small color="danger" (click)="onUnFavoriteClicked(quote)" >Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
